<%= form_for(@movie) do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="create">
  <div class="container">
    
    <%= form_for(@movie) do |f| %>
    <div class="field">
      <%= f.label "Film's title" %><br>
      <%= f.text_area :title %>
    </div>
    <div class="field">
      <%= f.label "Film's release year" %><br>
      <%= f.text_area :year %>
    </div>
    <div class="field">
      <%= f.label "Film's actors" %><br>
      <%= f.text_area :actors %>
    </div>
    <div class="field">
      <%= f.label "Film's directors" %><br>
      <%= f.text_area :directors %>
    </div>
    <div class="field">
      <%= f.label "Film's categories" %><br>
      <%= f.text_area :categories %>
    </div>
  </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
