<p id="notice"><%= notice %></p>
<div>
<h1><%= @movie.title =%></h1>
<h1><%= @movie.year =%></h1>
<h2><u>Category</u></h2>
<div class="tag">
  <h4 class="tag-name"><%= @movie.categories %></h4>
</div>
<h1>Cast</h1>
<h2><u>Director(s) :</u></h2>
<div class="director">
  <h4 class="director-name"><%= @movie.directors %></h4>
</div>
<h2><u>Actors :</u></h2>
<div class="actor">
  <h4 class="actor-name"><%= @movie.actors %></h4>
</div>
</div>

<%= link_to 'Back', movies_path %>
