<h1>Advanced Search</h1>

<%= form_for @search, html: {class: "pure-form"} do |s| %>

<div class="field">
  <%= s.label :keywords %><br />
  <%= s.text_field :keywords %>
</div>

<div class="field">
    <%= s.label :year %><br />
    <%= s.text_field :year %>
</div>

<div class="field">
    <%= s.label :actors %><br />
    <%= s.text_field :actors %>
</div>

<div class="field">
    <%= s.label :directors %><br />
    <%= s.text_field :directors %>
</div>

<div class="field">
    <%= s.label :categories %><br />
    <%= s.select :categories, options_for_select(@categories), :include_blank => true %>
</div>

<div class"actions"><%= s.submit "Search", class: "pure-button pure-button-primary" %></div>

<% end %>

<p><%= link_to 'Back', movies_path %></p>
