<h1>Search Result</h1>
<p><%= link_to "Back", new_search_path %></p>

<% if @search.search_movies.empty? %>
<p>No Movies Found</p>
<% else %>
<% @search.search_movies.each do |c| %>
<br>

<div class="div">
  <h1><%= c.title %></h1>
  <p>Year : <%= c.year %></p>
  <h2>Cast</h2>
  <p>Director : <%= c.directors %></p>
  <p>Actors : <%= c.actors %></p>
  <p>Categories : <%= c.categories %></p>
</div>

<% end %>

<% end %>

    
